* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0 50px !important;
  font-family: "Poppins", sans-serif !important;
}

header {
  height: 80px;
  display: grid;
  place-content: center;
  border-radius: 18px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
header nav ul {
  margin: 0;
  display: grid;
  place-content: center;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header nav ul li a {
  color: black;
}
header nav button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
header nav img {
  width: 120px;
  aspect-ratio: 3/1;
}

main {
  width: 100%;
}
main .ImageContainer {
  margin: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.2)), url("../img/car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
}
main .ImageContainer .BookingContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  gap: 20px;
  padding: 170px 0 0 40px;
}
main .ImageContainer .BookingTextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main .ImageContainer .BookingTextContainer h1, main .ImageContainer .BookingTextContainer h2, main .ImageContainer .BookingTextContainer h5, main .ImageContainer .BookingTextContainer p {
  color: white;
}
main .ImageContainer .BookingFormContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
main .ImageContainer .BookingFormContainer .BookingForm {
  background-color: #ffffff;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 18px;
  gap: 10px;
  margin-right: 40px;
  /* General rule for inputs */
}
main .ImageContainer .BookingFormContainer .BookingForm .MessageErreurNoBooking {
  color: white;
  background-color: red;
  padding: 8px 5px;
  border-radius: 8px;
  text-align: center;
}
main .ImageContainer .BookingFormContainer .BookingForm .MessageErreurNoBooking p {
  margin: 0;
  padding: 0;
}
main .ImageContainer .BookingFormContainer .BookingForm input {
  border: none;
  outline: none;
  background-color: transparent;
}
main .ImageContainer .BookingFormContainer .BookingForm .Input {
  background-color: #eeeeee;
  padding: 10px;
  display: flex;
  gap: 18px;
  align-items: center;
  border-radius: 6px;
}
main .ImageContainer .BookingFormContainer .BookingForm button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
main .ImageContainer .BookingFormContainer .BookingForm input[type=date],
main .ImageContainer .BookingFormContainer .BookingForm input[type=time],
main .ImageContainer .BookingFormContainer .BookingForm input[type=datetime-local] {
  appearance: none !important; /* Standard property */
  -webkit-appearance: none !important; /* Chrome, Safari */
  -moz-appearance: none !important; /* Firefox */
}

.BrandListe {
  background-color: #2a2a2a;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 18px;
  margin-top: 40px;
  padding: 20px;
}
.BrandListe .BrandListeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
}
.BrandListe .BrandListeContainer img {
  width: 70px;
  filter: invert(1); /* Inverts black to white */
}

.FeaturedCarsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.FeaturedCarsTitle h5 {
  font-weight: bolder;
  font-size: 40px;
}

.FeaturedCars {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch; /* Ensures all cards have the same height */
}
.FeaturedCars .CarContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #F1F1F1;
  padding: 18px;
  border-radius: 8px;
}
.FeaturedCars .CarContainer .CarNameandRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FeaturedCars .CarContainer .CarNameandRow i {
  background-color: white;
  padding: 2px 10px;
  border-radius: 8px;
}
.FeaturedCars .CarContainer .CarNameandRow i:hover {
  background-color: #2a2a2a;
  cursor: pointer;
  color: white;
}
.FeaturedCars .CarContainer .CarImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FeaturedCars .CarContainer .CarImage img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover; /* Ensures the aspect ratio is preserved and fills the area */
}
.FeaturedCars .CarContainer .CarOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FeaturedCars .CarContainer .CarOption .option {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.FeaturedCars .CarContainer .CarOption .option p {
  margin: 0;
  font-size: 15px;
}
.FeaturedCars .CarContainer .CarOption .option i {
  font-size: 15px;
}
.FeaturedCars .CarContainer:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(254, 230, 49, 0.231372549);
}

.ButtonCars {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ButtonCars button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.WhyPerlaSection {
  background-color: #e9e8ee;
  margin-top: 120px;
  padding: 30px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.WhyPerlaSection .PerlaText ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}
.WhyPerlaSection .PerlaText ul li p {
  margin: 0;
}
.WhyPerlaSection .PerlaText button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.WhyPerlaSection .PerlaSectionImage {
  position: absolute;
  right: 0;
  bottom: -40px;
}
.WhyPerlaSection .PerlaSectionImage img {
  width: 600px;
}

footer {
  background-color: #2a2a2a;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 8px 40px;
  color: white;
  margin: 30px 0;
}
footer .FirstFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .FirstFooter .LogoFooter img {
  width: 100px;
  margin-bottom: 20px;
}
footer .FirstFooter .LogoFooter h6 {
  width: 260px;
  font-size: 12px;
}
footer .FirstFooter .FooterQuickLinks {
  display: flex;
  flex-direction: column;
}
footer .FirstFooter .FooterQuickLinks a {
  color: white;
  text-decoration: none;
}
footer .FirstFooter .FooterQuickLinks a:hover {
  color: #aaa3a3;
  cursor: pointer;
}
footer .FirstFooter .FooterNewsLetter .EmailContainer {
  background-color: #e9e8ee;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
}
footer .FirstFooter .FooterNewsLetter .EmailContainer input {
  border: none;
  background: transparent;
  outline: none;
}
footer .FirstFooter .FooterNewsLetter .EmailContainer i {
  background-color: #2a2a2a;
  padding: 8px;
  border-radius: 8px;
  color: white;
}
footer .FirstFooter .FooterNewsLetter .EmailContainer i:hover {
  background-color: #4f4b4b;
  cursor: pointer;
}
footer hr {
  width: 100%;
  height: 0.3px;
  background-color: #e9e8ee;
}
footer .LastFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  flex-wrap: wrap;
}
footer .LastFooter .Terms ul li {
  list-style: none;
  display: flex;
  gap: 10px;
}
footer .LastFooter .Terms ul li a {
  color: white;
}
footer .LastFooter .FooterSocialMedia {
  display: flex;
  gap: 10px;
}
footer .LastFooter .FooterSocialMedia img {
  width: 20px;
  filter: invert(1); /* Inverts black to white */
}/*# sourceMappingURL=stylecopy.css.map */