RewriteEngine On
RewriteCond %{THE_REQUEST} \s/([^\.]+)\.php [NC]
RewriteRule ^(.*)\.php$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

Cache-Control: no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: 0

# Rewrite /page/664/xxx to /page?id=664&var=xxx
RewriteRule ^page/([0-9]+)/([^/]+)$ /page?id=$1&var=$2 [L,QSA]
