RewriteEngine On
# RewriteCond %{THE_REQUEST} \s/([^\.]+)\.php [NC]
# RewriteRule ^(.*)\.php$ /$1 [R=301,L]

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^(.*)$ $1.php [L]

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>

