* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    // border: 1px solid;
}
body {
    font-family: "Poppins", sans-serif !important;
    background-color: #f4f4f4;
    // background: linear-gradient(153deg, rgba(255, 255, 255, 1) 42%, rgba(7, 14, 25, 0.48) 99%);
}
:root {
    --primary-color: rgb(235, 171, 35);
    --button-color : rgb(22, 22, 157) ;
}
p{
    margin: 0 !important;
}
.bold{
    font-weight: bolder;

}
// header
header {
    height: 15vh;
    padding: 30px 15%;
    // background: rgb(22,65,222);
    // background: linear-gradient(180deg, rgba(22,65,222,1) 0%, rgba(20,62,242,1) 0%, rgba(255,255,255,1) 96%);    
    .langue {
        border-radius: 50%;
        font-size: 20px;
        width: 30px;
        text-align: center;
    }
    background-color: var(--button-color);
    color: #f4f4f4;
}

// second sec filtr
section{
    padding: 0px 10%;
}
.divCordoneLV{
    border: 2px solid var(--primary-color);
    padding: 15px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 15px 0px;
    justify-content: space-between;
    // flex-wrap: wrap;
    .Filter,.Filter2{
        display: flex;
        gap: 30px;
        align-items: center;
        width: 100%;
    }
    h5 {
        margin: 0px;
        font-size: 15px;
    }
    button{
        background-color: var(--button-color);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
    
    }
    // .modifButtonDiv {
    //     display: flex;
    //     align-items: center;
    //     justify-content: end;
    //     width: 100%;
    //     button {
    //         width: 60%;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //     }
    // }
    button:hover{
        background-color: var(--primary-color);
    }
}
.divCordoneLV2{
    padding: 10px 10px;
    display: none;
    border-radius: 10px;
    margin: 15px 0px;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    border: 2px solid var(--primary-color);

    .ContainerTtle{
        display: flex;
        justify-content: space-between;
        .rmvModifierFilt{
            cursor: pointer;
            font-size: 20px;
        }
    }
    .Filter2{
        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        align-items: center;
        flex: 1;
        background-color: var(--primary-color);
        padding: 9px;
        border-radius: 8px;
        .LieuPrisenEnCharge{
            flex-grow: 9 !important;
        }
        .LieuPrisenEnCharge,.DatePrisencharge,.DateRestitution,.HeurePriseencharge,.HeureRestitution{
            display: flex;
            align-items: center;
            gap: 15px;
            background-color: #f4f4f4;
            padding: 10px 20px;
            border-radius: 8px;
            flex-grow: 1;
            p{
                font-size: 10px;
            }
            input{
                border: none;
                width: 100%;
                background-color: transparent;
            }
            input:focus{
                border: none;
                outline: none;
            }
            input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }
            input[type="time"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }

        }
        
    }
    button{
        background-color: green;
        color: white;
        border: none;
        padding: 20px 20px;
        border-radius: 8px;
        width: 100%;
    }
    button:hover{
        background-color: rgb(9, 96, 9);
    }

}
.Offer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    // border: 1px solid black;
    .CarDetails{
        flex: 5;
        margin-bottom: 20px;
        .OfferPrevNext{
            width: 100%;
            a{
                font-size: 13px;
            }
            h3{
                font-size: 20px;
            }
        }
        // border: 1px solid red;
        .Car{
            // border: 2px solid black;
            padding: 30px;
            display: flex;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            justify-content: center;
            gap: 20px;
            .carimg{
                width: 25%;
                background-color: rgb(255, 255, 255);
                background-image: url(img/compact-car-dacia-sport-utility-vehicle-renault-renault-duster-removebg-preview.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                flex: 3;
            }
            .carDts{
                flex: 5;
                .CarClass{
                    color: white;
                    background-color: #1879ca;
                    width: max-content;
                    padding: 2px 9px;
                    border-radius: 8px;
                    margin-bottom: 10px !important;  
                    font-size: 12px;
                }
                .CarName{
                    font-size: 20px;
                    font-weight: bolder;
                }
                .caroptions{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 15px;
                    p{
                        margin: 0;
                        font-size: 13px;
                        flex: 1 1 45%;

                    }
                    svg{
                        width: 20px;
                        height: 20px;
                        opacity: 0.8;
                        font-weight: 100;
                        left: 20px;
                    }
                }
            }
        }
        .Advantages{
            padding: 30px;
            display: flex;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 15px;
            .Adv{
                display: flex;
                gap: 10px;
                flex: 1 1 45%; /* Grow, shrink, and set basis to 45% for two items per row */
                p{
                    font-size: 14px;
                }
                i{
                    color: green;
                }
            }
        }
        .PAPDetails{
            padding: 30px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            margin-top: 15px;
            .DetailsContainer,.Detail{
                display: flex;
                flex-direction: column;
                
            }
            .Detail{
                margin-top: 10px;
                .InpGroup{
                    padding: 10px 20px;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid black;
                    
                }
                input{
                    border: none;
                    outline: none;
                    padding-left: 10px;
                    width: calc(100% - 25px);
                }
                input:focus{
                    border: none;
                    outline: none;
                }
            }
            
        }
    }
    .OfferDetails{
        flex: 3;
        margin-left: 20px;
        margin-bottom: 20px;
        // border: 1px solid green;
        .schedule {
            //margin: 20px auto;
            margin-bottom: 20px;
            background: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

            .event {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
            }
            .circle-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin-right: 9px;
            }
            .circle {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-top: 5px;
                z-index: 1;
                border: 1px solid black;
            }
            .line {
                width: 1px;
                height: 70px; 
                background-color: #000;
                position: absolute;
                top: 30px; 
                z-index: 0;
            }
            
            .details {
                flex-grow: 1;
            }
            
            .date-time {
                margin-bottom: 10px;
            }
            
            .location p {
                margin: 0;
            }
            
            .location a {
                color: #0066cc;
                text-decoration: none;
                font-size: 0.9em;
            }
            
            .location a:hover {
                text-decoration: underline;
            }
        }
        .Tarif {
            //margin: 20px auto;
            background: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            .Price{
                display: flex;
                justify-content: space-between;

            }
        }
        .RSVBTN{
            max-width: 400px;
            margin: 20px auto;
            button{
                background-color: var(--button-color);
                color: white;
                border: none;
                padding: 10px 20px;
                width: 100%;
                border-radius: 8px;

                a{
                    color: white;
                    text-decoration: none;
                }
            }
            button:hover{
                background-color: var(--primary-color);
            }
        }
        
    }
}

@media (max-width : 390px) {
    p , h3 ,h5 , h1 {
        font-size: smaller !important;
    }
    .CarName {
        font-size: 16px !important;
    }
}

@media (max-width : 530px) {
    .divCordoneLV {
        flex-wrap: wrap;
        width: 100%;
        .modifButtonDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        }
        button {
            display: flex;
            margin-top: 20px;
        }
    }
    
}