* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f4f4f4;
}

:root {
  --primary-color: rgb(235, 171, 35);
  --button-color: rgb(22, 22, 157) ;
}

p {
  margin: 0 !important;
}

.bold {
  font-weight: bolder;
}

header {
  height: 15vh;
  padding: 30px 15%;
  background-color: var(--button-color);
  color: #f4f4f4;
}
header .langue {
  border-radius: 50%;
  font-size: 20px;
  width: 30px;
  text-align: center;
}

section {
  padding: 0px 10%;
}

.divCordoneLV {
  border: 2px solid var(--primary-color);
  padding: 15px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 15px 0px;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.divCordoneLV .Filter, .divCordoneLV .Filter2 {
  display: flex;
  gap: 30px;
  align-items: center;
}
.divCordoneLV h5 {
  margin: 0px;
  font-size: 15px;
}
.divCordoneLV button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}
.divCordoneLV button:hover {
  background-color: var(--primary-color);
}

.divCordoneLV2 {
  padding: 10px 10px;
  display: none;
  border-radius: 10px;
  margin: 15px 0px;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  border: 2px solid var(--primary-color);
}
.divCordoneLV2 .ContainerTtle {
  display: flex;
  justify-content: space-between;
}
.divCordoneLV2 .ContainerTtle .rmvModifierFilt {
  cursor: pointer;
  font-size: 20px;
}
.divCordoneLV2 .Filter2 {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-items: center;
  flex: 1;
  background-color: var(--primary-color);
  padding: 9px;
  border-radius: 8px;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge {
  flex-grow: 9 !important;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge, .divCordoneLV2 .Filter2 .DatePrisencharge, .divCordoneLV2 .Filter2 .DateRestitution, .divCordoneLV2 .Filter2 .HeurePriseencharge, .divCordoneLV2 .Filter2 .HeureRestitution {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 8px;
  flex-grow: 1;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge p, .divCordoneLV2 .Filter2 .DatePrisencharge p, .divCordoneLV2 .Filter2 .DateRestitution p, .divCordoneLV2 .Filter2 .HeurePriseencharge p, .divCordoneLV2 .Filter2 .HeureRestitution p {
  font-size: 10px;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge input, .divCordoneLV2 .Filter2 .DatePrisencharge input, .divCordoneLV2 .Filter2 .DateRestitution input, .divCordoneLV2 .Filter2 .HeurePriseencharge input, .divCordoneLV2 .Filter2 .HeureRestitution input {
  border: none;
  width: 100%;
  background-color: transparent;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge input:focus, .divCordoneLV2 .Filter2 .DatePrisencharge input:focus, .divCordoneLV2 .Filter2 .DateRestitution input:focus, .divCordoneLV2 .Filter2 .HeurePriseencharge input:focus, .divCordoneLV2 .Filter2 .HeureRestitution input:focus {
  border: none;
  outline: none;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge input[type=date]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .DatePrisencharge input[type=date]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .DateRestitution input[type=date]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .HeurePriseencharge input[type=date]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .HeureRestitution input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.divCordoneLV2 .Filter2 .LieuPrisenEnCharge input[type=time]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .DatePrisencharge input[type=time]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .DateRestitution input[type=time]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .HeurePriseencharge input[type=time]::-webkit-calendar-picker-indicator, .divCordoneLV2 .Filter2 .HeureRestitution input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.divCordoneLV2 button {
  background-color: green;
  color: white;
  border: none;
  padding: 20px 20px;
  border-radius: 8px;
  width: 100%;
}
.divCordoneLV2 button:hover {
  background-color: rgb(9, 96, 9);
}

.Offer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.Offer .CarDetails {
  flex: 5;
  margin-bottom: 20px;
}
.Offer .CarDetails .OfferPrevNext {
  width: 100%;
}
.Offer .CarDetails .OfferPrevNext a {
  font-size: 13px;
}
.Offer .CarDetails .OfferPrevNext h3 {
  font-size: 20px;
}
.Offer .CarDetails .Car {
  padding: 30px;
  display: flex;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 20px;
}
.Offer .CarDetails .Car .carimg {
  width: 25%;
  background-color: rgb(255, 255, 255);
  background-image: url(img/compact-car-dacia-sport-utility-vehicle-renault-renault-duster-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  flex: 3;
}
.Offer .CarDetails .Car .carDts {
  flex: 5;
}
.Offer .CarDetails .Car .carDts .CarClass {
  color: white;
  background-color: #1879ca;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 9px;
  border-radius: 8px;
  margin-bottom: 10px !important;
  font-size: 12px;
}
.Offer .CarDetails .Car .carDts .CarName {
  font-size: 20px;
  font-weight: bolder;
}
.Offer .CarDetails .Car .carDts .caroptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.Offer .CarDetails .Car .carDts .caroptions p {
  margin: 0;
  font-size: 13px;
  flex: 1 1 45%;
}
.Offer .CarDetails .Car .carDts .caroptions svg {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  font-weight: 100;
  left: 20px;
}
.Offer .CarDetails .Advantages {
  padding: 30px;
  display: flex;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.Offer .CarDetails .Advantages .Adv {
  display: flex;
  gap: 10px;
  flex: 1 1 45%; /* Grow, shrink, and set basis to 45% for two items per row */
}
.Offer .CarDetails .Advantages .Adv p {
  font-size: 14px;
}
.Offer .CarDetails .Advantages .Adv i {
  color: green;
}
.Offer .CarDetails .PAPDetails {
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.Offer .CarDetails .PAPDetails .DetailsContainer, .Offer .CarDetails .PAPDetails .Detail {
  display: flex;
  flex-direction: column;
}
.Offer .CarDetails .PAPDetails .Detail {
  margin-top: 10px;
}
.Offer .CarDetails .PAPDetails .Detail .InpGroup {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
}
.Offer .CarDetails .PAPDetails .Detail input {
  border: none;
  outline: none;
  padding-left: 10px;
  width: calc(100% - 25px);
}
.Offer .CarDetails .PAPDetails .Detail input:focus {
  border: none;
  outline: none;
}
.Offer .OfferDetails {
  flex: 3;
  margin-left: 20px;
  margin-bottom: 20px;
}
.Offer .OfferDetails .schedule {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.Offer .OfferDetails .schedule .event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.Offer .OfferDetails .schedule .circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 9px;
}
.Offer .OfferDetails .schedule .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 5px;
  z-index: 1;
  border: 1px solid black;
}
.Offer .OfferDetails .schedule .line {
  width: 1px;
  height: 70px;
  background-color: #000;
  position: absolute;
  top: 30px;
  z-index: 0;
}
.Offer .OfferDetails .schedule .details {
  flex-grow: 1;
}
.Offer .OfferDetails .schedule .date-time {
  margin-bottom: 10px;
}
.Offer .OfferDetails .schedule .location p {
  margin: 0;
}
.Offer .OfferDetails .schedule .location a {
  color: #0066cc;
  text-decoration: none;
  font-size: 0.9em;
}
.Offer .OfferDetails .schedule .location a:hover {
  text-decoration: underline;
}
.Offer .OfferDetails .Tarif {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.Offer .OfferDetails .Tarif .Price {
  display: flex;
  justify-content: space-between;
}
.Offer .OfferDetails .RSVBTN {
  max-width: 400px;
  margin: 20px auto;
}
.Offer .OfferDetails .RSVBTN button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
}
.Offer .OfferDetails .RSVBTN button a {
  color: white;
  text-decoration: none;
}
.Offer .OfferDetails .RSVBTN button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 390px) {
  p, h3, h5, h1 {
    font-size: smaller !important;
  }
  .CarName {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=SingleVehicle.css.map */